@model IEnumerable<Web_Client.Models.Company>
@{
    ViewBag.Title = "ViewAllCompanies";
}

<h2>ViewAllCompanies</h2>

@if(Model!=null){
    


foreach (var item in Model)
{
    <table>
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address1)
                <td>
                    @Html.DisplayFor(modelItem => item.address2)
                </td>
            </td>
       
            <th>
                @Html.DisplayFor(modelItem => item.openHours)
            </th>
        </tr>
    </table>
        

}
    }