<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Drivers Assistant</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <div id="fb-root"></div>

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @{var var1="LogOn";var var2="Account";
                  if (Session["UserName"] != null) { var1 = "Index"; var2 = "Home"; }
                @Html.ActionLink("Drivers Assistant", var1, var2, null, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                @if(Session["UserName"] != null){
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })){
                        @Html.AntiForgeryToken()
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    @Html.ActionLink("Hello " + Session["UserName"] + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
                                </li>
                                @if(Session["UserRole"].Equals("admin")){
                                <li>
                                    @Html.ActionLink("Services","ServiceHome","Admin")
                                </li>
                                 <li>
                                    @Html.ActionLink("Company","CompanyHome","Admin")
                                </li>
                                <li>
                                    @Html.ActionLink("View","ViewAllCompanies","Admin")
                                </li>
                                }
                                @if(@Session["UserRole"].Equals("user")){
                                <li>
                                    @Html.ActionLink("Services","Service","User")
                                </li>
                                 <li>
                                    @Html.ActionLink("Company","Company","User")
                                </li>
                                <li>
                                    @Html.ActionLink("Appointments","ViewAllAppointment","User")
                                </li>
                                }
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            </ul>
                        }
                }
                else{
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Register", "RegisterNewUser", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Log in", "LogOn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                }
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <p align="center" style="color:white;">Driving Assistance&copy; @DateTime.Now.Year</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>